@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button {
  margin-right: 2%;
  margin-bottom: 1%;
}

.fresh {
  background-color: rgb(179, 15, 70);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2%;
}
.fresh:hover {
  background-color: lavender;
  color: #282c34;
}
.container {
  border: 3px solid darkgreen;
  background-color: rgb(223, 223, 196);
  padding: 1%;
}
body {
  font-family: 'Lobster', cursive;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
